// GENERAL CARD

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding: 2rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 90%;
}

.card-darker {
  background-color: #ddd;
}

.accepted {
  color: green;
}

.cancelled,
.declined {
  color: red;
}

.card-slim {
  width: 50%;
}

// ADVERTISEMENT CARD

.card-adv {
  flex-direction: column;

  &__book-image {
      // margin-right: auto;
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  &__card-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      color: #666;
  }

  &__right-info {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;

      color: #999;
      font-size: 0.9em;
      // margin-left: auto;
  }

  &__offer-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// OFFER CARD

.card-offer {
  flex-direction: column;
  justify-content: center;
  width: 80%;

  &__card-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      padding-bottom: 1.5rem;

      color: #666;
  }

  &__right-info {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;

      color: #999;
      font-size: 0.9em;
  }

  &__ad-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

// TRADE CARD

.card-trade {
  flex-direction: column;
  justify-content: center;

  &__card-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      padding-bottom: 1.5rem;

      color: #666;
  }
}