#dashboard {
    background-color: $paper-white;
}

.card-adv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    padding: 2rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 90%;

    &__book-image {
        // margin-right: auto;
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    }

    &__book-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        color: #666;
    }

    &__user-info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;

        color: #999;
        font-size: 0.9em;
        // margin-left: auto;
    }

    .row {
        flex-direction: row;
        justify-content: space-between;
        width: 70vw;
    }

    .col {
        flex-direction: column;
    }
}