.header {
  background: $off-black;
  margin-bottom: $md-size;
  padding: $md-size 0;
  border-width: .1rem;
  border-radius: 1rem;

  &__title {
    color: $off-white;
    text-align: center;
    font-size: $lg-size;
    margin: 0;
  }

  &__subtitle {
    text-align: center;
    color: $off-white;
    font-size: $md-size;
    font-weight: 300;
    font-style: italic;
    margin: 0;
  }
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: $md-size; 

  div{
    width: 8rem;
    text-align: center;
  }
}
.link{
  border: .2rem solid $off-white;
  border-radius: .9rem;

  .nav{
    color: white;
    font-size: $sm-size;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}