section {
    height: 100vh;
    width: 100vw;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: $navbar-maxheight + 1vh;
}

#header {
    background-color:$swab-blue;
    color: #fff;
    
    .logo {
        max-height: 40vh;
        max-width: 40vh;
    }
}