section {
    height: 100vh;
    width: 100vw;
}

.section-wrapper-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;
    position: relative;
    left: 35vw;
    top: $navbar-maxheight + 10vh;
    background: $phantom-white;
    border-radius: 1.5em;
}

.login-title{
    color: $phantom-white;
    background-color: $swab-orange;
    width: 30vw;
    height: 7vh;
    text-align: center;
    font-size: 2em;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;   
    padding-top: 2vh;
    font-weight: bold;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    padding-top: 1em;
}

.login-input{
    width: 18vw;    
    height: 4vh;   
    background-color: #e6e6e6;
    padding-left: .4em;
    border: .1em solid transparent;
    margin: .2em 0;

    &:focus {
        border-color: #2c2c2c;
    }
}

#forgot-pass{
    font-size: .8em;
}

.button-container{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-button {
    justify-content: center;
    align-items: center;
    background-color: $swab-orange;
    border-radius: 1em;
    font-size: 1em;
    width: 15vw;
    height: 5vh;
    border: .1em solid $swab-orange;
    color: $phantom-white;
    font-weight: bold;

    &:hover {
        background-color: $phantom-white;
        color: $swab-orange;
    }
}