html {
  height: 100%;
  width: 100%;
}

body {
  background: $paper-white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;

  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}