html {
  height: 100%;
  width: 100%;
}

body {
  background: $paper-white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;

  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.btn {
  border-radius: 25px;
  font-size: 1em;
  padding: 1vh 1vw;
}

.btn-lg {
  border-radius: 25px;
  font-size: 1.5em;
  padding: 1.5vh 2vw;
}

.btn-orange {
  background-color: $swab-orange;
  border: .1em solid $swab-orange;
  color: $phantom-white;

  &:hover {
      background-color: $phantom-white;
      color: $swab-orange;
  }
}

.btn-blue {
  background-color: $swab-blue;
  border: .1em solid $swab-blue;
  color: $phantom-white;

  &:hover {
      background-color: $phantom-white;
      color: $swab-blue;
  }
}