// Colors
$swab-blue: #00B7E9;
$swab-orange: #FF8223;
$paper-white: #f7f7fc;
$phantom-white: #fefefe;

$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
$dark-purple: #7034c4;
$cream: #ddce9d;

// Spacing
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$navbar-maxheight: 15vh;

